.main__message
  .groupHeader
    .groupHeader__box
      %h4.groupHeader__title
        グループ名
      = link_to "#", class: "link__icon__config" do
        = icon('fas', 'cog', class: "icon icon__config")
        
    .groupHeader__member
      参加メンバー：
  .messenger
    = render @messages
    -# = render partial: 'message', collection: @messages