.auc__footer
  = link_to "/all_users_chats/new", class: "p20 black" do
    新しい全体チャットを投稿する

  -# = form_with(model: @all_users_chat, local: true) do |form|
  -#   = form.text_area :name, placeholder: "text" , rows: "10"
  -#   = form.submit "SEND"