.auc__body
  .auc__feild.p5
    全体公開チャット
    .auc__feild__linkForm.p3
      = link_to "/all_users_chats/new", class: "link p3 form__auc" do
        新しい全体チャットを投稿する
    .auc__feild
      - @all_users_chats.each do |all_users_chat|
        .auc__feild__show.p4
          = link_to all_users_chat_path(all_users_chat.id), method: :get do
            .auc__feild__chatName.p4
              = all_users_chat.name
            .auc__feild__userName.p4
              投稿者名：  
              = all_users_chat.user.name
