.wrapper
  .test
    = link_to root_path do
      トップメージへ戻る
  .test
    全体公開チャット
    .test
      = link_to "/all_users_chats/new" do
        新しい全体チャットを投稿する
    .test
      - @all_users_chats.each do |all_users_chat|
        = render partial: "all_users_chat", locals: { all_users_chat: all_users_chat }