.wrapper
  全体公開チャット
  .send_content
    = link_to "/all_users_chats/new" do
      投稿する
  -# .contents
  -#   - @all_users_chats.each do |all_users_chat|
  -#     = render partial: "all_users_chat", locals: { all_users_chat: all_users_chat }