.auc_show__returnAuc {
  margin-bottom: 30px;
}

.auc_show__body {
  display: flex;
  .link__removeAuc {
    text-decoration: none;
    color: red;
    font-size: 18px;
    font-weight: bold;
    margin-left: 50px;
  }
  & p {
    color: red;
  }
  & img {
    max-width: 300px;
    height: auto;
    margin-left: 50px;
    overflow: hidden;
    z-index: auto;
    object-fit: cover;
  }
}

.auc_show__chatName {
  margin-bottom: 10px;
}

.auc_show__createUserName {
  margin-bottom: 30px;
}
