.auc__body {
  width: 100%;
  
  padding: 30px;
}

.auc__title {
  margin-bottom: 30px;
  font-size: 20px;
  color: white;
  font-weight: bold;
}

.auc__field {
  &__show {
    margin-bottom: 25px;
  }
  &__linkForm {
    margin-bottom: 20px;
  }
  &__chatName {
    margin-bottom: 5px;
  }

  &__userName {
    margin-bottom: 35px;
  }
  & span {
    color: white;
  }
  .auc__tagList {
    color: white;
    font-size: 12px;
    margin-left: 30px;
  }
}

.form__auc {
  margin-left: 300px;
}