.auc__body {
  width: 100%;
  
  padding: 30px;
}

.auc__field {
  &__linkForm {
    margin-bottom: 20px;
  }
  &__chatName {
    margin-bottom: 5px;
  }

  &__userName {
    margin-bottom: 35px;
  }
}

.form__auc {
  margin-left: 300px;
}