.auc_show__returnAuc {
  margin-bottom: 30px;
  display: flex;
}

.auc_show__moveNew {
  width: auto;
  color: white;
  font-size: 15px;
  margin-left: 100px;
  cursor: pointer;
}

.auc_show__body {
  display: flex;
  .link__removeAuc {
    text-decoration: none;
    color: red;
    font-size: 18px;
    font-weight: bold;
    margin-left: 50px;
  }
  & p {
    color: red;
  }
  & img {
    max-width: 300px;
    max-height: 300px;
    margin-left: 50px;
    overflow: hidden;
    z-index: auto;
    object-fit: cover;
  }
}

.auc_show__chatName {
  margin-bottom: 10px;
}

.auc_show__createUserName {
  margin-bottom: 30px;
}

.commenter {
  @extend.commonText-main--lg;
  margin-bottom: 70px;
  &__box {
    display: flex;
    margin-bottom: 40px;
    &__img {
      & img {
        // background-color: black;
        height: 70px;
        width: 70px;
        // overflow: hidden;
        // z-index: auto;
        object-fit: cover;
        border-radius: 30%;
      }  
    }
    &-2 {
      & img {
        max-width: 400px;
        max-height: 400px;
        margin-left: 50px;
        overflow: hidden;
        z-index: auto;
        object-fit: cover;
      }
      &__name {
        margin-left: 10px;
        margin-bottom: 10px;
      }
      &__message {
        // padding: 6px;
        margin-left: 20px;
        margin-right: 10px;
        // background-color:whitesmoke;
      }
    }
    &-3 {
      align-self: flex-end;
      &__created_at {
        margin-right: 100px;
      }  
    }
  }
}

// messenger -> commenter
// Message -> Comment