* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.hidden_border {
  border: none;
  margin-bottom: 50px;  
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: white;
}

.link-black {
  text-decoration: none;
  color: black;
}

.icon {
  font-size: 20px;
  color: white;
}

.iconLg {
  font-size: 30px;
}

p1 {
  color: white;
  font-size: 15px;
}

p2 {
  color: black;
  font-size: 15px;
}

.p25 {
  color: white;
  font-size: 25px;  
}

.p20 {
  color: white;
  font-size: 20px;
}

.p15 {
  color: white;
  font-size: 15px;
}

.p8 {
  font-size: 8px;
  color: white;
}

.black {
  color: black;
}

.text-small {
  font-size: 8px;
}

.recommendText {
  color: black;
  font-size: 10px;
}

.commonText-side {
  font-size: 10px;
  color: black;
  padding-left: 5px;
}

.commonText-main {
  font-size: 10px;
  color: white;
  padding-left: 5px;
}

.commonText-main--lg {
  font-size: 14px;
  color: white;
  padding-left: 5px;
}

.wrapper {
  width: 100vw;
  height: 100vh;
}

.header {
  width: 100%;
  height: 50px;
  background-color: #003366;
  display: flex;
  align-items: center;
  padding: 0 50px 0 10px;
  // border-bottom: 2px solid blue;
  &__topLinks {
    width: 400px;
    margin: auto 0;
    display: flex;
    .headerList__TopPage {
      margin-right: 10px;
    }
  }
  .search {
    margin-right: 50px;
  }
  .title {
    width: 100%;
    margin: auto 0;
    color: white;
  }
  .userIcon {
    margin-top: 5px;
    & img {
      height: 50px;
      width: 70px;
      // overflow: hidden;
      // z-index: auto;
      object-fit: cover;
      border-radius: 30%;
    }
  }
}

.body {
  display: flex;
  width: 100%;
  height: calc(100% - 150px);
  .sideBar {
    width: 300px;
    
    background-color: #CCFFCC;
    padding: 10px;
    overflow: scroll;
    .user {
      margin-bottom: 20px;
      &__image {
        margin-bottom: 5px;
        & img {
          height: 200px;
          height: 200px;
          object-fit: cover;
        }
      }
      &__name {
        font-size: 10px;
        color: goldenrod;
        font-weight: bold;
      }
    }
    &__group {
      margin-top: 10px;
      margin-bottom: 30px;
      @extend.commonText-side;
      &__name {
        margin-bottom: 5px;
        font-weight: bold;
      }
      &__box {
        display: flex;
        margin-bottom: 5px;
        &__messenger {
          margin-right: 5px;
        }
      }
      // &__message {

      // }
    }

  }
  .main {
    width: 100%;
    
    // height: 100%;
    background-color: #7da4cd;
    padding: 10px;
    overflow: scroll;
    .groupHeader {
      @extend.commonText-main--lg;
      margin-bottom: 20px;
      &__box {
        display: flex;
        .groupHeader__title {
          margin-right: 10px;
        }
        .link__removeGroup {
          text-decoration: none;
          color: red;
          font-size: 18px;
          font-weight: bold;
          margin-left: 50px;
        }
        & p {
          margin-left: 10px;
          color: red;
        }
      }
      .message__moveNew {
        width: auto;
        color: white;
        font-size: 15px;
        margin-top: 30px;
        cursor: pointer;
      }
    }
    .messenger {
      @extend.commonText-main--lg;
      margin-bottom: 70px;
      &__box {
        display: flex;
        margin-bottom: 40px;
        &__img {
          & img {
            // background-color: black;
            height: 70px;
            width: 70px;
            // overflow: hidden;
            // z-index: auto;
            object-fit: cover;
            border-radius: 30%;
          }  
        }
        &-2 {
          .message__content {
            color: black;
          }
          & img {
            max-width: 400px;
            max-height: 400px;
            margin-left: 50px;
            overflow: hidden;
            z-index: auto;
            object-fit: cover;
          }
          &__name {
            margin-left: 10px;
            margin-bottom: 10px;
          }
          &__message {
            // padding: 6px;
            margin-left: 20px;
            margin-right: 10px;
            // background-color:whitesmoke;
          }
        }
        &-3 {
          align-self: flex-end;
          &__created_at {
            margin-right: 100px;
          }  
        }
      }
    }
  &__recommend {
    & p1 {
      font-weight: bold;
    }
  }
    .recommend {
      display: flex;
      padding-top: 15px;
      padding-left: 20px;
      // margin-top: 10px;
      margin-bottom: 20px;
      @extend.recommendText;
      &__group {
        margin-right: 10px;
        max-width: 230px;
        width: 230px;
        max-height: 260px;
        height: 260px;
        background-color: whitesmoke;
        & img {
          width: 230px;
          height: 160px;
          margin-bottom: 5px;
          background-color: gray;
          overflow: hidden;
          z-index: auto;
          object-fit: cover;
        }
        &__name {
          margin-bottom: 5px;
          margin-left: 5px;
          overflow: hidden;
          font-weight: bold;
        }
        &__message {
          margin-bottom: 5px;
          margin-left: 5px;
          overflow: hidden;
        }
        &__tag {
          margin-left: 5px;
          margin-top: 10px;
          overflow: hidden;
        }
      }
    }
    .border {
      border: 1px solid gray;
      margin-bottom: 10px;
    }
    // .accessRanking {
    //   display: flex;
    //   margin-top: 10px;
    //   margin-bottom: 20px;
    //   @extend.commonText-main;
    //   &__group {
    //     margin-right: 10px;
    //     background-color: whitesmoke;
    //     &__img {
    //       width: 200px;
    //       height: 160px;
    //       margin-bottom: 5px;
    //       background-color: gray;
    //     }
    //     &__name {
    //       margin-bottom: 5px;
    //       margin-left: 5px;
    //     }
    //     &__message {
    //       margin-bottom: 5px;
    //       margin-left: 5px;
    //     }
    //     &__tag {
    //       margin-left: 5px;
    //     }
    //   }
    // }
  }
}

.recommend__footer {
  width: 100%;
  height: 100px;
  background-color: #aaaaaa;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  padding: 10px 50px 10px 20px;
  background-color: white;
  .groupFooter{
    width: 100%;
    &__box{
      display: flex;
      .groupFooter__title {
        margin-right: 5px;
      }
    }
  }
  .common__footer {
    width: 100%;
    height: 100%;
    // background-color: gray;
    .footer__form {
      display: flex;
      align-items: center;
      &__box {
        display: flex;
        .footer__form__text {
          width: 650px;
          height: 80px;
          padding: 0 50px 0 10px;
          background-color: whitesmoke;
          border:1px solid lightgray;
          border-radius: 5px;
        }
        .footer__form__label {
          position: relative;
          .footer__form__icon {
            font-size: 30px;
            color: gray;
            position: absolute;
            right: 10px;
            line-height: 80px;
          }
          .footer__form__file {
            display: none;
          }
        }
      }
      &__btn {
        width: 50px;
        height: 40px;
        margin-left: 10px;
        color: gray;
        border: 1px solid lightgray;
        border-radius: 3px;
      }
    }
  }
}